<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.makerspaceDashboard.url">
        </div>
    </div>
</form>

<p>Website reload is requierd for changes to link to take effect.</p>